@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@keyframes slide-out {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes centre-1 {
  0% {
    transform: translate3d(3px, 0, 0);
  }
  10% {
    transform: translate3d(5px, 5px, 5px);
  }
  100% {
    transform: translate3d(3px, 0, 0);
  }
}

@keyframes centre-2 {
  0% {
    transform: translate3d(7px, 0, 0);
  }
  10% {
    transform: translate3d(-20px, -20px, -20px);
  }
  100% {
    transform: translate3d(7px, 0, 0);
  }
}

@keyframes centre-3 {
  0% {
    transform: translate3d(4px, 0, 0);
  }
  10% {
    transform: translate3d(10px, -45px, 0);
  }
  100% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes centre-4 {
  0% {
    transform: translate3d(5px, 0, 0);
  }
  10% {
    transform: translate3d(40px, 0, 0);
  }
  100% {
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes orbit-1 {
  from { transform: rotate(0deg)  translate3d(3px, 0, 0) rotate(0deg); }
  to   { transform: rotate(360deg)  translate3d(3px, 0, 0) rotate(-360deg); }
}

@keyframes orbit-2 {
  from { transform: rotate(0deg) translateX(4px) rotate(0deg); }
  to   { transform: rotate(-360deg) translateX(4px) rotate(360deg); }
}

@keyframes orbit-3 {
  from { transform: rotate(0deg) translateX(5px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(5px) rotate(-360deg); }
}

@keyframes orbit-4 {
  from { transform: rotate(0deg) translateX(7px) rotate(0deg); }
  to   { transform: rotate(-360deg) translateX(7px) rotate(360deg); }
}
