// Global Colors

$white-eggshell: #FFFEE9;
$yellow-default: #FEEC66;
$grey-default: #D7D7D7;
$orange-default: #FAA12E;
$red-default: #FE5F5C;
$purple-default: #420B35;
$blue-default: #0A4DEF;
$bianchi-default: #01CDCA;
$bianchi-dark: #17ABAA;